<!doctype html>
<html>

<body id="demo-code">
<!-- Include required JS files -->
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/static/game.js"></script>

<link href="/static/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
<link href="/static/syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
<link href="/static/syntaxhighlighter/styles/shThemeFadeToGrey.css" rel="stylesheet" type="text/css" />
<link href="/static/game.css" rel="stylesheet" type="text/css" />

<div id="multi-header">

<div class="select-file" id="select-index.html"
    onclick="selectFile(this, 'index.html')">index.html</div><div class="select-file" id="select-level.py"
    onclick="selectFile(this, 'level.py')">level.py</div>

</div>

<div id="multi-examples">

<pre id="index.html" class="brush: php; html-script: true">&lt;!doctype html>
&lt;html>
  &lt;head>
    &lt;!-- Internal game scripts/styles, mostly boring stuff -->
    &lt;script src="/static/game-frame.js">&lt;/script>
    &lt;link rel="stylesheet" href="/static/game-frame-styles.css" />

    &lt;!-- Load jQuery -->
    &lt;script 
      src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    &lt;/script>

    &lt;script>
      function chooseTab(num) {
        // Dynamically load the appropriate image.
        var html = "Image " + parseInt(num) + "&lt;br>";
        html += "&lt;img src='/static/level3/cloud" + num + ".jpg' />";
        $('#tabContent').html(html);

        window.location.hash = num;

        // Select the current tab
        var tabs = document.querySelectorAll('.tab');
        for (var i = 0; i &lt; tabs.length; i++) {
          if (tabs[i].id == "tab" + parseInt(num)) {
            tabs[i].className = "tab active";
            } else {
            tabs[i].className = "tab";
          }
        }

        // Tell parent we've changed the tab
        top.postMessage(self.location.toString(), "*");
      }

      window.onload = function() { 
        chooseTab(unescape(self.location.hash.substr(1)) || "1");
      }

      // Extra code so that we can communicate with the parent page
      window.addEventListener("message", function(event){
        if (event.source == parent) {
          chooseTab(unescape(self.location.hash.substr(1)));
        }
      }, false);
    &lt;/script>

  &lt;/head>
  &lt;body id="level3">
    &lt;div id="header">
      &lt;img id="logo" src="/static/logos/level3.png">
      &lt;span>Take a tour of our cloud data center.&lt;/a>
    &lt;/div>

    &lt;div class="tab" id="tab1" onclick="chooseTab('1')">Image 1&lt;/div>
    &lt;div class="tab" id="tab2" onclick="chooseTab('2')">Image 2&lt;/div>
    &lt;div class="tab" id="tab3" onclick="chooseTab('3')">Image 3&lt;/div>

    &lt;div id="tabContent">&nbsp;&lt;/div>
  &lt;/body>
&lt;/html>
</pre><pre id="level.py" class="brush: python">class MainPage(webapp.RequestHandler):


  def render_template(self, filename, context={}):
    path = os.path.join(os.path.dirname(__file__), filename)
    self.response.out.write(template.render(path, context))

  def get(self):
    self.render_template('index.html')

application = webapp.WSGIApplication([ ('.*', MainPage), ], debug=False)</pre>
  <script>
    setTimeout(function() { 
      selectFile(document.getElementById('select-index.html'), 
      'index.html')
    }, 500);
    setTimeout(function() { 
      selectFile(document.getElementById('select-index.html'), 
      'index.html')
      }, 1000);
  </script>

</div>

<script type="text/javascript"> 
  SyntaxHighlighter.all() 
</script>

</body>
</html>