<!doctype html>
<html>
  <head>
    <!-- Internal game scripts/styles, mostly boring stuff -->
    <script nonce="{{nonce_data.gameFrameNonce}}" src="/static/game-frame.js"></script>
    <link rel="stylesheet" href="/static/game-frame-styles.css" />
  </head>
  <body id="level4">
    <img src="/static/logos/level4.png" />
    <br>
    <img src="/static/loading.gif" id="loading-gif" data-timer='{{ timer|tojson }}' />
    <br>
    <div id="message">Your timer will execute in {{ timer }} seconds.</div>
    <script nonce="{{nonce_data.timerNonce}}" type="text/javascript" src="/static/level4/timer.js"></script>
  </body>
</html>